*{
  font-family: 'Montserrat';
}

#semesterH1{

    text-align: center;
    margin-top: 130px;
    font-size: 36px;
}
span{

    color: red;
}
.containerSemestri{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.formSemestri{

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    width: 50%;
    
}

.selectForSemestri{

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center ;

}
@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }

  #fadeInPage{
  opacity: 0;
  animation: fadeInPage 0.5s ease-in-out forwards;

}

.input-labelSemestri{

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}

#primaryBtnSemestri{
  background-color: rgb(101, 64, 235);
  width: 30%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

#resetBtnSemestri{

  width: 30%;
  height: 40px;
  border-radius: 10px;
  color: black;
  border: none;
  background-color: rgb(225, 225, 225);
}

#successMsgLndProf{
  position: absolute;
  top: 170px;
  left: 220px;
  width: fit-content;
  text-align: center;
  font-size: 15px;
}

.registeredVitetAkademike{

  margin-top: 100px;
}