<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    
</head>
<body>
     
    <div id="container">
        <h1>Student Registration</h1>

    <form id="form" action="/submit" method="POST">
    
        <div class="form-row"> 
        <label for="Emri">Emri <span style="color:red">*</span></label> <br> 
        <input type="text" name="emri" id="" placeholder="Emri" required> <br> <br>
    </div>
     
    <div class="form-group"> 
        <label for="Mbiemri">Mbiemri <span style="color:red">*</span></label> <br> 
        <input type="text" name="mbiemri" id="" placeholder="Mbiemri" required> <br> <br> 
    </div>
    <div class="form-group">
        <label>Gjinia <span style="color:red">*</span></label>
        <div id="radio">
          <label><input type="radio" name="gjinia" value="M" >Mashkull</label>&nbsp; &nbsp; &nbsp;   
          <label><input type="radio" name="gjinia" value="F" >Femër</label>     
        </div>
    </div>

    <div class="form-group"> 
        <label for="EmailStudentor">Email Studentor</label> <br> 
        <input style="background-color: #d4d4d4" type="text" name="emailstudentor" id="" placeholder="Automatike" disabled > <br> <br>
    </div>
    
    <div class="form-group"> 
        <label for="Password">Password</label> <br> 
        <input style="background-color: #d4d4d4" type="password" name="password" id="" placeholder="Automatike" disabled > <br> <br>
    
    </div><div class="form-group"> 
        <label for="EmailPrivat">Email Privat <span style="color:red">*</span></label> <br> 
        <input type="text" name="emailprivat" placeholder="Email Privat" id=""required > <br> <br>
    </div>
    <div class="form-group">   
    <label for="Vendlindja">Vendlindja <span style="color:red">*</span></label> <br> 
        <input type="text" name="vendlindja" id="" placeholder="Vendlindja" required> <br> <br>
    </div>
    <div class="form-group"> 
        <label for="DataLindjes">Data e lindjes <span style="color:red">*</span></label> <br> 
        <input type="date" name="data_lindjes" id="" placeholder="Data e lindjes" required > <br> <br>
    </div>
    <div class="form-group"> 
        <label for="Adresa">Adresa </label> <br> 
        <input type="text" name="adresa" placeholder="Adresa" id="" > <br> <br>
    </div>
    <div class="form-group"> 
        <label for="NrTel">Nr_Tel</label> <br> 
        <input type="text" name="nrtel" placeholder="Kontakt" id="" > <br> <br>
    </div>
    <div class="form-group">
    <label for="fakulteti">Fakulteti <span style="color:red">*</span> </label> <br> 
    <input type="text" name="fakulteti" placeholder="Fakulteti" id="" > <br> <br>
    </div>

    <div class="form-group">
        <label for="">Statusi <span style="color:red">*</span> </label> <br> 
        <select name="statusi" id="statusi">
        <option value="Aktiv">Aktiv</option>
        <option value="Deaktiv">Deaktiv</option>
    </select>
        </div>
    <div id="button">
        
        <button id="submit" type="submit" data-bs-dismiss="alert" class="btn btn-primary">Regjistro</button> &nbsp; 
        <button id="reset" type="reset" class="btn btn-primary">Reset</button> <br> 

    </div>
    
    </form>
    
    
</div>

</body>
</html>