
#profH1{

    text-align: center;
    margin-top: 120px;
    font-size: 36px;
}
span{

    color: red;
}
.container{

    width: 80%;
    justify-content: center;
    
}
form{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 60px;

}


@keyframes fadeInPage {
  from {
      opacity: 0;
      transform: translateY(10px); 
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#fadeInPage{
  opacity: 0;
  animation: fadeInPage 0.5s ease-in-out forwards;

}

.form-control{
  
  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
}
#gjinia{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 70px;
}
.form-check{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.leftArrow{

  position: relative;
  top: -2px;
  margin-right: 5px;

}

.form-check input{

    cursor: pointer;
    margin-right: 5px;
}

.form-check label{

  cursor: pointer;
  font-weight: normal;
}
.form-check label:hover{

  font-weight: bold;
}

.form-select{

  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
}

#primaryBtnProf:hover{
  background-color: rgb(77, 51, 173);
}

.input-labelProf{

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#primaryBtnProf{
  background-color: rgb(101, 64, 235);
  width: 35%;
  height: 40px;
  border-radius: 10px;
  margin: 15px;
  margin-top: 30px;
  border: none;
}
#resetBtnProf{

  width: 35%;
  height: 40px;
  border-radius: 10px;
  margin: 15px;
  margin-top: 30px;
  color: black;
  border: none;
  background-color: rgb(225, 225, 225);
}

#resetBtnProf:hover{

  background-color: rgb(197, 197, 197);
}
#successMsg{
  position: absolute;
  top: 40px;
  width: fit-content;
  text-align: center;
  font-size: 15px;
}

#successEmail{
  position: absolute;
  bottom: -100px;
  width: fit-content;
  text-align: center;
  font-size: 15px;
}

.swal-confirmBtn{

  font-size: 14px;
  border-radius: 10px;

}
.popupDesign{

  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.fade-in{

  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {

    from{
      opacity: 0;
      transform: translateY(-10px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.kthehuLinkProf{

  width: fit-content;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 25px;
}
.textSwal{
  font-size: 15px;
  
}

.kthehuLink:hover{

  text-decoration: none;
  color: black;
}
.inputProf{

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300%;
  
}

#updateBtnProf{

  border-radius: 10px;
  margin-top: 30px;
  height: 40px;
  background-color: rgb(101, 64, 235);

}

#updateBtnProf:hover{

  background-color: rgb(77, 51, 173);
 
}

#resetBtn:hover{
  background-color: rgb(211, 211, 211);
}
input{

  border: 1px solid gray;
  border-radius: 10px;
  
}
