*{

  font-family: "Montserrat";
}
.navContainer nav{

  display: flex;
  height: 70px;
  background-color:  rgb(101, 64, 235) ;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
  width: 100%;
  color: black;
  position:fixed;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#homeLink{

  color: white;
  margin-left: 20px;
}
#homeLink:hover{

  color: rgb(79, 49, 184);
}

.navContainer .dropdown{
  
  margin-left: 30px;
}
@keyframes fadeIn {

  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.logoImg{
  height: 20px;
  width: 20px;
}

.customLink{

  color: black;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s ease-in-out;
  padding: 10px 7px;
  display: flex;
  font-size: 15px;
  margin: 0;
}
.customLink .dropdown-menu{

  border: 1px solid rgb(193, 193, 193);
  
}
.customLink:hover{

  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  text-decoration:none;
  background-color: rgb(101, 64, 235)
}

.logoutDropDownA{

  cursor: pointer;
}

#dropDownBtn{

  background-color: #f7f6f6;
  color: black;
  
}

.dropdown-menu {
  animation: fadeIn 0.3s ease-in-out;
  width: max-content;
  
}
#liDropDown .customLink{

  border: 0.5px solid rgb(231, 231, 231);
}

.dropdown .dropdown-menu{

  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #f7f6f6;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
li{
  list-style-type: none;
  
} 

#dropDownBtn{

  border: none;
  border-radius: 0px;
  background-color:rgb(101, 64, 235) ;
  color: white;
  
}
#dropDownBtn:hover{

  background-color: rgb(79, 49, 184);
}

.rightAlign {
  
  right: 20px;
  left: auto;
  position: absolute;
}

.rightAlign .dropdown-menu {

  right: 0;
  left: auto;
  position: absolute;
  z-index: 1000;
}