h3{
    text-align: center;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  #fadeInPage{
    opacity: 0;
    animation: fadeInPage 0.5s ease-in-out forwards;
  
  }