
h1{

    text-align: center;
    margin-top: 60px;
}
span{

    color: red;
}
.container{

    width: 80%;
    justify-content: center;
}
form{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 60px;
    
}


@keyframes fadeInPage {
  from {
      opacity: 0;
      transform: translateY(10px); 
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#fadeInPage{
  opacity: 0;
  animation: fadeInPage 0.5s ease-in-out forwards;

}

.form-control{
  
  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
}
#primaryBtn{

  position: relative;
  background-color: rgb(101, 64, 235);
  left: 80px;
  top: 25px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
}
#gjinia{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 70px;
}
.form-check{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.leftArrow{

  position: relative;
  top: -2px;
  margin-right: 5px;

}

.form-check input{

    cursor: pointer;
    margin-right: 5px;
}

.form-check label{

  cursor: pointer;
  font-weight: normal;
}
.form-check label:hover{

  font-weight: bold;
}

.form-select{

  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
}

#primaryBtn:hover{
  background-color: rgb(77, 51, 173);
}

.input-label{

    display: flex;
    flex-direction: column;
    margin: 12px;
}
#resetBtn{

  position: relative;
  left: 210px;
  bottom: 15px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
  color: black;
  background-color: rgb(231, 231, 231);
}
#successMsg{
  position: absolute;
  top: 40px;
  width: fit-content;
  text-align: center;
  font-size: 15px;
}

#successEmailStd{
  position: absolute;
  bottom: -50px;
  width: fit-content;
  text-align: center;
  font-size: 15px;
}

.swal-confirmBtn{

  font-size: 14px;
  border-radius: 10px;

}
.popupDesign{

  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

#updateBtn{

  border-radius: 10px;
  margin-top: 28px;
  text-align: center;
  margin-left: 60px;
  width: 70%;
  background-color: rgb(101, 64, 235);
}

.fade-in{

  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {

    from{
      opacity: 0;
      transform: translateY(-10px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.kthehuLinkStd{

  width: fit-content;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
}
.textSwal{
  font-size: 15px;
  
}

.kthehuLinkStd:hover{


  transition: 0.2s ease-in-out;
}
#updateBtn:hover{

  background-color: rgb(77, 51, 173);
 
}
input{

  border: 1px solid gray;
  border-radius: 10px;
  
}
