*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(236, 240, 240);
    font-family: "Montserrat";
}

#container{

    display: flex;
    flex-direction: column;
    
    width: 100%;
    align-items: center;
}
#form{
    display: grid;
    column-gap: 20px; 
    row-gap: 5px;
    grid-template-columns:1fr 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    padding: 100px 50px 20px 50px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 20px;
    margin-right: 20px;
    
}
label{

    color: rgb(61, 61, 61);
}

input{
    border-radius: 8px;
    border: 0px;
    transition: 0.1s ease-in-out;
    padding: 5px 10px;
    background-color: #eee;
    outline: none;
    margin-right:70px ;
    width: 100%;

}
#radio label{
    cursor: pointer;
    color: rgb(86, 85, 85);
    transition: 0.1s ease-in-out;
}
#radio label:hover{

    color: rgb(0, 0, 0);
    transition: 0.1s ease-in-out;
}
#radio input{
    width: auto;
    margin-left:10px;
    margin-right: 5px;
    cursor: pointer;
}
input:hover{

    background-color: #e4e2e2;
    transition: 0.1s ease-in-out;
}
input:focus{

    background-color: #e4e2e2;
    transition: 0.1s ease-in-out;
}
h1{

    text-align: center;
    color:gray;
    position: relative;
    top: 70px;
}
#statusi{

    border-radius: 8px;
    background-color: #eee;
    padding: 5px;
    border: 0;
    cursor: pointer;
}
#statusi:hover{

    background-color: #e4e2e2;
    transition: 0.1s ease-in-out;
}
#button{

    position: relative;
    left: 290px;
    top: 0px;
    

}
.btn{
    
    border-radius: 15px;
    width:fit-content;
    background-color: #2e32a7;
    outline: none;
    padding: 8px 20px;
}
.btn:hover{
   
    background-color: #151876;
    
}


 
