#profLndH1{

    text-align: center;
    margin-top: 150px;
    font-size: 36px;
}
span{

    color: red;
}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}

.formProfLnd{

    display: grid;
    grid-template-columns: auto auto;
    margin-top: 60px;
    justify-content: center;
    
}

.input-labelProfLnd{

    display: flex;
    flex-direction: row;
    width: 200%;
    justify-content: center;
    margin-top: 10px;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }

  #fadeInPage{
  opacity: 0;
  animation: fadeInPage 0.5s ease-in-out forwards;

}

.input-labelProfLnd{

  display: flex;
  flex-direction: row;
  width: 200%;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.selectProfLnd {

    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    width: 500px;
  }

#primaryBtnProfLenda{
  background-color: rgb(101, 64, 235);
  width: 15%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

#resetBtnProfLenda{

  width: 15%;
  height: 40px;
  border-radius: 10px;
  color: black;
  border: none;
  background-color: rgb(225, 225, 225);
}

#successMsg{
  position: absolute;
  top: 40px;
  width: fit-content;
  text-align: center;
  font-size: 15px;
}